%background-common {
  height: 100vh;
  width: 100%;
}

%input-comon {
  background-color: rgba(255, 255, 255, 0.6);
  border: 0;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 900;
  height: 50px;
  outline: none;
  width: 100%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-infix {
  width: unset !important;
}

@media (max-width: 780px) {
  .table {
    width: 80%;
  }
}

.home {
  @extend %background-common;
  background: url('/assets/images/background.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;

  &-layer {
    @extend %background-common;
    align-items: center;
    background-color: rgba(170, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    position: absolute;
  }
}

.table {
  border: 2.5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;

  &-wrapper {
    overflow: auto hidden;
    width: 100%;
  }

  &__phrase {
    color: white;
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }

  &-plans {
    border-spacing: 10px;
    width: 100%;

    &__head {
      background-color: black;
      color: white;
      font-family: sans-serif;

      &-th {
        border-radius: 5px;

        .title {
          display: inline-block;
          font-family: 'Roboto';
          font-size: 1.3em;
          font-weight: 400;
          line-height: 1.1;
          margin: 15px;
          text-transform: uppercase;
          white-space: pre-wrap;
        }
      }
    }

    &__body {
      &-td {
        border-collapse: separate;
        border-radius: 5px;
      }
    }
  }
}

.input {
  @extend %input-comon;
  align-items: center;
  display: flex;
  font-size: 2em;
  justify-content: center;
  text-align: center;

  &--select {
    @extend %input-comon;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: end;

    span {
      font-size: 2em;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .mat-input {
      margin-top: 10px;
    }
  }
}
