<div class="home">
  <div class="home-layer">

    <div class="table">
      <h1 class="table__phrase">Simule e escolha o melhor plano para você!</h1>

      <div class="table-wrapper">
        <table class="table-plans">
          <thead class="table-plans__head">
            <tr>
              <th class="table-plans__head-th"> <h3>Origem</h3>          </th>
              <th class="table-plans__head-th"> <h3>Destino</h3>         </th>
              <th class="table-plans__head-th"> <h3>Tempo</h3>           </th>
              <th class="table-plans__head-th"> <h3>Plano FaleMais</h3>  </th>
              <th class="table-plans__head-th"> <h3>Com FaleMais</h3>    </th>
              <th class="table-plans__head-th"> <h3>Sem FaleMais</h3>    </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
              <td class="table-plans__body-td"> <input type="text" class="input"> </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
